[submodule "flexus"]
	path = flexus
	url = git@github.com:parsa-epfl/flexus.git
	branch = develop
[submodule "qemu"]
	path = qemu
	url = git@github.com:parsa-epfl/qemu.git
	branch = develop
[submodule "WormCacheQFlex"]
	path = WormCacheQFlex
	url = git@github.com:parsa-epfl/WormCacheQFlex.git
	branch = develop
[submodule "parallel-qemu"]
	path = parallel-qemu
	url = git@github.com:parsa-epfl/parallel-qemu.git
	branch = develop
[submodule "QPoints"]
	path = QPoints
	url = https://github.com/parsa-epfl/QPoints.git
	branch = gem5_ckp_conversion
