[submodule "flexus"]
	path = flexus
	url = git@github.com:branylagaffe/flexus.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = git@github.com:branylagaffe/qemu.git
	branch = feat/savevm-external
