[submodule "flexus"]
	path = flexus
	url = git@github.com:parsa-epfl/flexus.git
	branch = develop
[submodule "timing-qemu"]
	path = timing-qemu
	url = git@github.com:parsa-epfl/qemu.git
	branch = develop
[submodule "WormCache"]
	path = WormCache
	url = https://github.com/parsa-epfl/WormCache.git
	branch = unstable
[submodule "fw-qemu"]
	path = fw-qemu
	url = https://github.com/parsa-epfl/p-qemu.git
	branch = develop
[submodule "bxdb"]
	path = bxdb
	url = https://github.com/parsa-epfl/bxdb.git
	branch = master
