
target "debug-comp" {
  filter {
    - Stats ;
    - IterationCount ;
    - Assert ;
    + Verb+ & {ComponentName} exists ;
  }
  action {
    log (debug.log)
      {GlobalCount} " <" {File} ":" {Line} "> (" {ComponentName} "[" {ScaffoldIdx} "]) {" {Cycles}  "}- " {Message} "\n" ;
  }
}
target "debug-feeder" {
  filter {
    - Stats ;
    - IterationCount ;
    - Assert ;
    + Verb+ & Feeder ;
  }
  action {
    log (debug.log)
      {GlobalCount} " <" {File} ":" {Line} "> (feeder[" {ScaffoldIdx} "]) {" {Cycles}  "}- " {Message} "\n" ;
  }
}
target "debug-noncomp" {
  filter {
    - Stats ;
    - IterationCount ;
    - Assert ;
    - {ComponentName} exists ;
    + Verb+ ;
  }
  action {
    log (debug.log)
      {GlobalCount} " <" {File} ":" {Line} "> {" {Cycles}  "}- " {Message} "\n" ;
  }
}
target "end-of-parallel" {
  filter {
    + MagicBreak
    & {MagicBreakNo} == 3
    ;
  }
  action {
    log (debug.log)
      {GlobalCount} " {" {Cycles}  "} Reached end of parallel phase\n" ;
    print-stats ;
    break ;
  }
}
target "iteration-count" {
  filter {
    + IterationCount ;
  }
  action {
    log (debug.log)
      {GlobalCount} " cpu[" {ScaffoldIdx} "] {" {Cycles}  "}- " {Message} "\n" ;
  }
}
target "stats" {
  filter {
    + Stats ;
  }
  action {
    log (debug.log)
      {Source} ": " {Message} "\n" ;
  }
}
target "assertions" {
  filter {
    + Assert ;
  }
  action {
    log (debug.log)
      {GlobalCount} " <" {File} ":" {Line} "> (" {ComponentName} "[" {ScaffoldIdx} "]) {" {Cycles}  "}- Assertion failed: (" {Condition} ") : " {Message} "\n" ;
    abort ;
  }
}
