<footer class="footer">
    <div class="content container">
            <a class="footer-logo" href="http://www.ecocloud.ch/"><img alt="Parsa Logo" src="{{ site.baseurl }}public/images/ecocloud-logo-new.png"></img></a>
            <a class="footer-logo" href="http://parsa.epfl.ch/"><img alt="Parsa Logo" src="{{ site.baseurl }}public/images/parsa_logo.png"></img></a>
            <a class="footer-logo" href="http://www.epfl.ch/"><img alt="Parsa Logo" src="{{ site.baseurl }}public/images/EPFL-logo.png"></img></a>
    </div>
<footer>