# QFlex consists of several software components that are governed by various
# licensing terms, in addition to software that was developed internally.
# Anyone interested in using QFlex needs to fully understand and abide by the
# licenses governing all the software components.
# 
##### Software developed externally (not by the QFlex group)
# 
#     * [NS-3](https://www.gnu.org/copyleft/gpl.html)
#     * [QEMU](http://wiki.qemu.org/License)
#     * [SimFlex] (http://parsa.epfl.ch/simflex/)
# 
##### Software developed internally (by the QFlex group)
# **QFlex License**
# 
# QFlex
# Copyright &copy; 2016, Parallel Systems Architecture Lab, EPFL
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
# 
#     * Redistributions of source code must retain the above copyright notice,
#       this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright notice,
#       this list of conditions and the following disclaimer in the documentation
#       and/or other materials provided with the distribution.
#     * Neither the name of the Parallel Systems Architecture Laboratory, EPFL,
#       nor the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE PARALLEL SYSTEMS ARCHITECTURE LABORATORY,
# EPFL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
# HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF
# THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.#

#################################################################################
#                                                                               #
#       This is the configuration file for QEMU initialization.                 #
#       This file should be modified by each user to set PATH varibles.         #
#                                                                               #
#################################################################################

#################################################################################
#                        DO NOT MODIFY THE SECTION BELOW                        #
#################################################################################

# Getting the Absolute Path to the script
    DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

    # Calling my configuration files
    if [ ! -f $DIR/helpers/helper_functions.sh ]; then
           printf "$0: ${RED}ERROR:${NC} $DIR/helper_functions.sh does not exist!\n"
           exit 1
    else
           source $DIR/helpers/helper_functions.sh
    fi

#################################################################################
#                            MODIFY THE SECTION BELOW                           #
#################################################################################

## Define your username to run unprivileged QEMU process (obligatory)
set_variable USER_NAME username

## Define the number of cores to be used by QEMU instance
set_variable QEMU_CORE_NUM 4

## Define the number of cores to be simulated in Flexus
## (e.g., 2 means core 0 and 1 are only simulated in Flexus)
set_variable FLEXUS_CORE_NUM 4

## Define the Memory space allotted to the QEMU instance
set_variable MEM 4096

## Define the Simulation Time for Flexus
set_variable SIMULATE_TIME 1000000

## Set the Path to QEMU
set_variable QEMU_PATH "/path/to/qemu/aarch64-softmmu"

## Set the Path to the Kernel
set_variable KERNEL_PATH "/path/to/qemu/image/kernel"

## Specify the names of the Kernel files
set_variable KERNEL vmlinuz-3.16.0-4-arm64
set_variable INITRD initrd.img-3.16.0-4-arm64

## Set the path to the SNAPSHOTS (Image)
set_variable IMG_0 "/path/to/server/image/.qcow2/or/.img"
set_variable IMG_1 "/path/to/client/image/.qcow2/or/.img"

## Path to Flexus repository
set_variable FLEXUS_REPO "/path/to/qflex"

## Set the path to Flexus simulator
# Example: $FLEXUS_REPO/KeenKraken/libflexus_KeenKraken_arm_iface_gcc.so
set_variable FLEXUS_PATH "/path/to/simulator/.so"

## Set the path to Boost Library
set_variable BOOST_PATH "/usr/local"

## Set the path to NS3 Directory
NS3_PATH="/path/to/ns3/"

#################################################################################
#                        DO NOT MODIFY THE SECTION BELOW                        #
#################################################################################

## Set the envionment PATH variables
set_variable ADD_TO_PATH $QEMU_PATH
set_variable ADD_TO_LD_LIBRARY_PATH $BOOST_PATH/lib

export PATH=$ADD_TO_PATH:$PATH
export LD_LIBRARY_PATH=$ADD_TO_LD_LIBRARY_PATH:$LD_LIBRARY_PATH
